{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Matheus Produtos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	<script type="text/javascript" src="{% static 'main_produtos.js' %}"></script>

</head>
<body>
	<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="form-modal">
	      <div class="modal-body">
	        <p>Nome Produto : </p>
	        <input type="text" id="modal-nome" class="form-control" placeholder="Digite o nome do produto">
	        <br>
	         <p>Valor Produto : </p>
	        <input type="text" id="modal-valor" class="form-control" placeholder="Digite o valor do produto">
	      	<input type="hidden" id="modal-id">
	      </div>
	      <div class="modal-footer">
	        <button id="btn-salvar-modal" type="submit" class="btn btn-primary">Salvar Alterações</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	      </div>
      <form>
    </div>
  </div>
</div>
	<style>
		.btn-editar{
			margin-right : 10px;
		}
	</style>
	<div class="container">
  		<div class="jumbotron">
		  <h1 class="display-4">Olá, Seja bem vindo {% if user.is_authenticated %} {{ user.get_username }} {% endif %}</h1>
		  <p class="lead">Matheus Produtos é um sistema CRUD para todos os tipos de produtos.</p>
		</div>
			{% if not user.is_authenticated %}
  				<h2>Para cadastrar, editar ou remover produto e fornecedor é necessario estar logado.</h2>

  				<div class="card">
		  <div class="card-body">
		  </form>
		    <form id="form_login" name="login-form">
				<h1>Cadastro / Login </h1>
				  <div class="col-4">
				  	<p>Nome de usuario</p>
			      		<div class="input-group mb-3">
					  <input id="username" name="username" type="text" class="form-control" placeholder="Digite aqui o nome de usuario" aria-label="Username" aria-describedby="basic-addon1" required>
					</div>
		   		 </div>
		   		  <div class="col-4">
				  	<p>Senha</p>
			      		<div class="input-group mb-3">
					  <input id="valor" type="password" name="password" class="form-control" placeholder="Digite a senha..." aria-label="Username" aria-describedby="basic-addon1" required>
					</div>
		   		 </div>
		   		  <div class="col-4">
		   		  	<button type="submit" class='btn btn-success'>Cadastrar</button>
		   		  		ou
				  	<button type="submit" class='btn btn-success'>Logar</button>
		   		 </div>
   		 		</form>	
		  </div>
		</div>
		
		
	</div>
  			{% endif %}
	</div>
	{% if user.is_authenticated %}
	<div class="container">
		<div id="msg">
			
		</div>
		<div class="card">
		  <div class="card-body">
		  </form>
		    <form id="form_cadastra_produto">
				<h1>CADASTRO DE PRODUTOS</h1>
				  <div class="col-4">
				  	<p>Nome do Produto</p>
			      		<div class="input-group mb-3">
					  <input id="nome" name="nome" type="text" class="form-control" placeholder="Digite aqui o nome do produto" aria-label="Username" aria-describedby="basic-addon1" required>
					</div>
		   		 </div>
		   		  <div class="col-4">
				  	<p>Valor do Produto</p>
			      		<div class="input-group mb-3">
					  <input id="valor" type="text" name="valor" class="form-control" placeholder="Digite aqui o valor do produto..." aria-label="Username" aria-describedby="basic-addon1" required>
					</div>
		   		 </div>
		   		  <div class="col-4">
				  	<button type="submit" class='btn btn-success'>Salvar Produto</button>
		   		 </div>
   		 		</form>	
		  </div>
		</div>
		
		
	</div>
	    <div style="margin-top: 10px" class="container">
	    	<div class="card">
	 	 <div class="card-body">
			<h1>LISTA DE PRODUTOS</h1>
			<div id="alert" class="alert alert-primary" role="alert">O sistema não possui nenhum <strong>produto cadastrado !!!</strong></div>
			<table class="table table-bordered table-hover table-produto">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nome</th>
			      <th scope="col">Valor</th>
			      <th scope="col">Ações</th>
			    </tr>
			  </thead>
			  <tbody id="tbodyprodutos">
			    
			  </tbody>
			</table>
		</div>
  	  </div>
	</div>
	{% endif %}
</body>
</html>